In [1]:
import pandas as pd
# Load dataset
df = pd.read_csv("C:/Users/DIYA/Downloads/customer_churn_dataset.csv")
print(df.shape)
df.head()

(7043, 21)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
# Check data types and missing
print(df.dtypes)
print(df.isnull().sum())

# Convert TotalCharges to numeric
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Drop rows with missing values
df.dropna(inplace=True)

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [5]:
# Quick EDA for Customer Churn

print("ðŸ”¹ Churn Distribution (%):")
print(df['Churn'].value_counts(normalize=True) * 100)
print("\n")

print("ðŸ”¹ Churn by Contract Type (%):")
print(pd.crosstab(df['Contract'], df['Churn'], normalize='index') * 100)
print("\n")

print("ðŸ”¹ Average Monthly Charges by Churn:")
print(df.groupby('Churn')['MonthlyCharges'].mean())
print("\n")

print("ðŸ”¹ Average Tenure by Churn:")
print(df.groupby('Churn')['tenure'].mean())
print("\n")

print("ðŸ”¹ Churn by Internet Service Type (%):")
print(pd.crosstab(df['InternetService'], df['Churn'], normalize='index') * 100)
print("\n")

ðŸ”¹ Churn Distribution (%):
Churn
No     73.421502
Yes    26.578498
Name: proportion, dtype: float64


ðŸ”¹ Churn by Contract Type (%):
Churn                  No        Yes
Contract
Month-to-month  57.290323  42.709677
One year        88.722826  11.277174
Two year        97.151335   2.848665


ðŸ”¹ Average Monthly Charges by Churn:
Churn
No     61.307408
Yes    74.441332
Name: MonthlyCharges, dtype: float64


ðŸ”¹ Average Tenure by Churn:
Churn
No     37.650010
Yes    17.979133
Name: tenure, dtype: float64


ðŸ”¹ Churn by Internet Service Type (%):
Churn                   No        Yes
InternetService
DSL              81.001656  18.998344
Fiber optic      58.107235  41.892765
No               92.565789   7.434211

In [10]:
df.to_excel("cleaned_customer_churn.xlsx", index=False)